.rounded-t-5 {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

@media (min-width: 992px) {
  .rounded-tr-lg-0 {
    border-top-right-radius: 0;
  }

  .rounded-bl-lg-5 {
    border-bottom-left-radius: 0.5rem;
  }
}




  
.success{

  animation: buttons .2s linear;

  padding: 10px;
}

.danger{


    animation: buttons .2s linear;
  
    padding: 10px;

  
}




@keyframes buttons {

  0%{
      transform:scale(0.1)
  }

  50%{
      transform:scale(0.5)
  }

 100%{
      transform:scale(1)
  }


  
}






.loader {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border-top: 5px solid blue;
  border-right: 5px solid #efefef;
  border-bottom: 5px solid #efefef;
  border-left: 5px solid #efefef;
  border-radius: 100px;
  animation: spin 1s infinite linear;
  margin-bottom: 5px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}