




.containers{
    margin-top: 30px;
  display: flex;
  width: 600px;
  background: #fff;
  border-radius: 12px;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  position: relative;
  margin-left:15px;
}



.containers::before{
  content: '';
  position: absolute;
  left: 0;
  top: 10;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  /* clip-path: circle(53% at right 35%);
  background-image: linear-gradient( 135deg,  #fd9bb0 10%, #006400 100%); */
}
/* .container .box.one{
  padding: 35px 5px 0px 35px;
} */



.box.one .details {
 margin-left: 0;
}


.box.one .details .topic{
  font-size: 30px;
  font-weight: 500;

}
.box.one .details p{
  color: #737373;
  font-size: 13px;
  font-weight: 500;
  padding-left: 5px;
}
.box.one .rating{
  color: #006400 ;
  font-size: 14px;
  margin-top: 10px;
text-align:center;
}

.box.one .btns{
  width:70%;
  margin: 40px auto 0 auto;
  text-align:center;
  align-items:center;

}


.box.one .price-box{
  margin-top: 16px;
  margin-right: 100px;
}
.box.one .discount{
  font-size: 20px;
  margin: 10px 0 0 15px;
  position: relative;
  color: black;
}
.box.one .discount:before{

  height: 1px;
  width: 100px;

  top: 50%;
  right: 10px;
}
.box.one .price{
  color: #006400;
  font-size: 25px;
    margin-right: 80px;

}
.box.one .button1{
  margin-top: 35px;
  cursor: pointer;
  margin-right: 100px;
}
.box.one .button1 button{
  outline: none;
  border:none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: #006400;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button1 button:hover{
  transform: scale(0.98);
  cursor: pointer;
}
.containers .box.two .image{
  position: relative;
  right: 0;
  top: 20px;
  height: 140px;
  width: 150px;
}
.image img{
  height: 100%;
  width: 90%;
  object-fit: cover;
}
.containers .box.two .image-box{
  position: relative;
  text-align: right;
  right: 0;
  bottom: 27px;
}
.box.two .image-box .info{
  margin: 0 35px 0 0;
}
.box.two .info .brand{
 font-size: 17px;
 font-weight: 600;
 color: #c9032e;
}
.box.two .info .name{
 font-size: 15px;
 white-space: nowrap;
 font-weight: 500;
 margin-top: 10px;
 color: black;

 margin-top: 20px;
}
.box.two .info .shipping{
 font-size: 14px;
 font-weight: 400;
 color: #000;
}
.box.two .button2{
  margin: 17px 0;
}
.button2 button{
  outline: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 8px 17px;
  background: transparent;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}








/* 

  @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#212121;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#000000;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
 */























.main-contents {
  display: grid;
  grid-template-columns:  auto auto auto;
  grid-gap: 10px;


  padding: 10px;
}

.main-contents > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* .main-content{
  margin-left:5px;
  display:grid;
} */

.main-contents {
  margin-left: 0;
  width: 100%;
}








.minus{
  height:50px;
  outline:none;
  border:none;
}